/* Шапка */
%header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Корзина */
%basket-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 115px;
  height: 38px;
  font-family: 'Intro Demo', sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  border-radius: 100px;
  background: #5222d0;
}

/* Кнопка */
%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-family: 'Intro Demo', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  background: #5222d0;
  color: #fff;
}
