@charset "UTF-8";
/* Общие свойства */
.all-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  color: rgb(70, 69, 69);
}

/* Шапка */
.header {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgba(196, 206, 218, 0.4);
  grid-row: row1-start/row2-start;
  grid-column: header-start/header-end;
}

/* Контент */
.container-main {
  display: grid;
  grid-row: row2-start/row3-start;
  grid-column: main-start/main-end;
  grid-template-rows: [row2-start] 1fr [extrarow-start] 1fr [extrarow-end] 1fr [row3-start];
  grid-template-columns: [main-start] 1fr [mediumcolumn-start] 1fr [main-end];
  gap: 20px 40px;
  padding: 0 20px 20px 20px;
  background-color: white;
  background-color: rgba(254, 233, 233, 0.3);
}
.container-main .section {
  display: grid;
  justify-items: center;
  align-items: start;
  background-color: none;
  grid-row: row2-start/extrarow-start;
  grid-column: main-start/main-end;
  padding-top: 45px;
}
.container-main .article {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgba(247, 219, 158, 0.3);
}
.container-main .article1 {
  grid-row: extrarow-start/extrarow-end;
  grid-column: main-start/mediumcolumn-start;
}
.container-main .article2 {
  grid-row: extrarow-start/extrarow-end;
  grid-column: mediumcolumn-start/main-end;
}
.container-main .article3 {
  grid-row: extrarow-end/row3-start;
  grid-column: main-start/main-end;
}

/* Доп контент */
.sidebar {
  display: grid;
  justify-items: none;
  align-items: start;
  background-color: rgba(17, 245, 17, 0.1);
  padding: 45px 20px 20px 20px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  /* Весь контейнер */
  .all-container {
    grid-template-rows: [row1-start] 10% [row2-start] 1fr [row3-start] 15% [row3-end];
    grid-template-columns: [header-start main-start] 70% [main-end sidebar-start] 30% [sidebar-end header-end];
    font-size: 20px;
  }
  /* Доп контент */
  .sidebar {
    grid-row: row2-start/row3-start;
    grid-column: sidebar-start/sidebar-end;
  }
  /* Подвал */
  .container-footer {
    display: grid;
    grid-row: row3-start/row3-end;
    grid-column: header-start/header-end;
    grid-template-rows: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding: 10px;
    gap: 40px;
    background-color: rgba(196, 206, 218, 0.4);
  }
  .container-footer .block {
    display: grid;
    justify-items: none;
    align-items: center;
    background-color: white;
    height: 1fr;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Весь контейнер */
  .all-container {
    grid-template-rows: [row1-start] 15% [row2-start] 1fr [row3-start];
    grid-template-columns: [header-start main-start] 70% [main-end sidebar-start] 30% [sidebar-end header-end];
    font-size: 18px;
  }
  /* Подвал */
  .container-footer {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* Весь контейнер */
  .all-container {
    grid-template-rows: [row1-start] 20% [row2-start] 1fr [row3-start] 25% [row3-end];
    grid-template-columns: [header-start main-start] 1fr [main-end header-end];
    font-size: 16px;
  }
  /* Доп контент */
  .sidebar {
    grid-row: row3-start/row3-end;
    grid-column: header-start/header-end;
  }
  /* Подвал */
  .container-footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */